sdk-version: __VERSION__
name: script-example
source: src
version: 0.0.1
# script-build-options-begin
build-options:
  - --target=2.1
  - --enable-interfaces=yes
  - --warn-bad-interface-instances=yes
# script-build-options-end
# script-dependencies-begin
dependencies:
  - daml-prim
  - daml-stdlib
  - daml3-script
# script-dependencies-end
