# for config file options, refer to
# https://docs.digitalasset.com/build/3.5/dpm/configuration.html#project-configuration

sdk-version: __VERSION__
name: __PROJECT_NAME__
source: daml
init-script: Main:setup
version: 0.0.1
dependencies:
  - daml-prim
  - daml-stdlib
  - daml-script
