# This file is used to automatically assign reviewers based on
#    a) specific files
#    b) subtrees in the repository

# For more documentation, see the announcement and help page on github:
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners/

# GitHub teams must also be added explicitly as contributors with WRITE access to the digital-asset/daml repository on github.com
# Ask one of the github admin to add the team to https://github.com/digital-asset/daml/settings/collaboration
