echo "[dev-env] Setting up DA Development Environment"
eval "$(dev-env/bin/dade assist)"

# Load private overrides
[[ -f .envrc.private ]] && source_env .envrc.private

# install pre-commit hook (opt-out by setting `DADE_NO_PRE_COMMIT`)
test "x$DADE_NO_PRE_COMMIT" = x && pre-commit install
