#!/usr/bin/env bash

PATH_add "${PWD}/dev-env/bin"

use nix

# Create easy-to-access symbolic links for use with IntelliJ.
nix-build --quiet --no-build-output --out-link dev-env/out/bazel --attr toolAttrs.bazel nix/default.nix > /dev/null
nix-build --quiet --no-build-output --out-link dev-env/out/jdk --attr toolAttrs.jdk nix/default.nix > /dev/null

watch_file nix/*.nix

# Load private overrides
[[ -f .envrc.private ]] && source_env .envrc.private || :
