# private configuration
.envrc.private

# local development
## these are sometimes defined as symlinks for local development,
## but should never be checked in because they break
## `git clone --recursive` for repos that have `daml` as a submodule.
/daml-ghcide

# Artifacts
dist
.interfaces
*.log
target
*.tgz
*.hi
*.o

# Daml
.daml/

# dev-env
/dev-env/jdk
/dev-env/var/

# Bazel
.bazel-cache
/bazel-*
!/bazel-haskell-deps.bzl
!/bazel-java-deps.bzl
/compatibility/bazel-*
!/compatibility/bazel-haskell-deps.bzl
/compatibility/head_sdk/
.bazelrc.local
.bazelproject

# node.js
node_modules/


### Operating Systems ###

# macOS
.DS_Store
._.DS_Store


### Editors ###

# Eclipse
.classpath
.factorypath
.project
.settings

# Emacs
\#*\#
.\#*\#
*~

# Ensime
.ensime
.ensime_cache

# IntelliJ IDEA
.idea
.ijwb
*.iml
*.ipr
*.iws
out

# Vim
*~
*.swo
*.swp

# Visual Studio Code
.vscode/*
!.vscode/settings.json.default

# terraform
.terraform/
.terraform.lock.hcl
