# private configuration
.envrc.private

# Log files
*.log

# DAML
.daml/

# dev-env
/dev-env/var/

# Bazel
/.bazel-cache/
/bazel-*
/compatibility/bazel-*
/compatibility/.bazelrc
/compatibility/head_sdk/
.bazelrc.local
.bazelproject

# node.js
node_modules/


### Operating Systems ###

# macOS
.DS_Store
._.DS_Store


### Editors ###

# Eclipse
.classpath
.factorypath
.project
.settings

# Emacs
\#*\#
.\#*\#
*~

# Ensime
.ensime
.ensime_cache

# IntelliJ IDEA
.idea
.ijwb # Bazel
*.iml
*.ipr
*.iws
out

# Vim
*~
*.swo
*.swp

# Visual Studio Code
.vscode
