# Azure Pipelines file, see https://aka.ms/yaml

# Enable builds on all branches
trigger:
  # Build every commit as our release process relies on
  # the release process being built alone.
  batch: false
  branches:
    include:
      - master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
      - master

jobs:
  - job: Linux
    timeoutInMinutes: 360
    pool:
      ${{ if eq(variables['System.PullRequest.IsFork'], 'true') }}:
        vmImage: 'ubuntu-16.04'
      ${{ if eq(variables['System.PullRequest.IsFork'], 'false') }}:
        name: 'linux-pool'
    steps:
      - template: ci/build-unix.yml
        parameters:
          name: linux

  - job: macOS
    timeoutInMinutes: 360
    pool:
      vmImage: 'macOS-10.13'
    steps:
      - template: ci/build-unix.yml
        parameters:
          name: macos

  - job: Windows
    timeoutInMinutes: 360
    pool:
      vmImage: 'vs2017-win2016'
    steps:
      - template: ci/build-windows.yml
