<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
        </encoder>
    </appender>

    <logger name="com.codahale.metrics.jmx" level="warn"/>
    <logger name="com.digitalasset.grpc" level="warn"/>
    <logger name="com.digitalasset.platform.api.rest" level="warn" />
    <logger name="com.zaxxer.hikari" level="warn"/>
    <logger name="io.grpc.netty" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="org.flywaydb" level="warn"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
