
Licensing
=========

{{da-sdk-license}}

Third-Party Software Notices
----------------------------

DAML Compiler (``damlc``) includes components from the projects listed below. Digital
Asset relicenses these components under its Software License terms, except
that components licensed under terms requiring that such components remain
under their original license are being made available to you by Digital Asset
under their original license terms. The original copyright notices and the
licenses under which Digital Asset received such components are set forth
below for informational purposes.  Digital Asset reserves all rights not
expressly granted herein, whether by implication, estoppel or otherwise.

Dynamically linked libraries
^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Glasgow Haskell Compiler <https://www.haskell.org/ghc>:

{{ghc}}

GNU C Library and libiconv <https://www.gnu.org>:

{{glibc}}

Mac OSX Libsystem C Library <https://opensource.apple.com/source/Libsystem/>:

{{libsystem}}

OpenSSL <https://openssl.org>:

{{openssl}}

libc++ <https://libcxx.llvm.org/>:

{{libc++}}

zlib <http://www.zlib.org>`:

{{zlib}}

c-ares <https://c-ares.haxx.se/>:

{{libcares}}

ncurses <https://www.gnu.org/software/ncurses>:

{{ncurses}}

lzma <https://hackage.haskell.org/package/lzma>:

{{lzma}}

Haskell libraries
^^^^^^^^^^^^^^^^^

{{#licenses}}
{{name}} <{{homepage}}>:

{{license}}

{{/licenses}}
