sdk-version: __VERSION__
name: __PROJECT_NAME__
source: src
version: 0.0.1
# trigger-dependencies-begin
dependencies:
  - daml-prim
  - daml-stdlib
  - daml-trigger
# trigger-dependencies-end
sandbox-options:
  - --wall-clock-time
