// Set uniform (but not relative) base font size
html
  body
    font-size: $base-font-size
    font-weight: $weight-body

    a, a:visited
      color: $blue

    b, strong
      font-weight: $weight-bold

.wy-affix
  position: fixed
  top: $gutter

.wy-menu
  a:hover
    text-decoration: none

.wy-menu-horiz
  +clearfix

  ul, li
    display: inline-block

  li:hover
    background: rgba(255, 255, 255, .1)

  li
    &.divide-left
      border-left: solid 1px hsl(0, 0%, 25%)

    &.divide-right
      border-right: solid 1px hsl(0, 0%, 25%)

  a
    height: $base-font-size * 2
    display: inline-block
    padding: 0 $base-font-size

.rst-content code
  color: $text-dark
  background-color: $turqoise
  font-family: $code-font-family
  font-size: 14px
  position: relative
  top: -1px
  font-weight: $weight-code

.wy-menu-vertical
  width: $nav-desktop-width

  +media($desktop)
    padding-left: $gutter * 0.7

  +media($tablet)
    padding-left: $gutter * 0.3

  header, p.caption
    color: $nav-caption
    height: $base-font-size * 2
    display: inline-block
    padding: $gutter / 4 $gutter * 2.5 $gutter / 4 $gutter * 0.7
    margin: $base-line-height / 2 0 0 0
    display: block
    font-weight: $weight-body
    text-transform: uppercase

  ul
    margin-bottom: 0

  li
    &.divide-top
      border-top: solid 1px hsl(0, 0%, 25%)

    &.divide-bottom
      border-bottom: solid 1px hsl(0, 0%, 25%)

    &.current
      a
        color: $menu-link-medium

    code
      border: none
      background: inherit
      color: inherit
      padding-left: 0
      padding-right: 0
    // Expand links
    span.toctree-expand
      display: block
      float: left
      margin-left: -1.2em
      @extend .fa
      @extend .fa-plus-square-o
      font-size: .8em
      color: darken($menu-link-medium, 20%)

  // On state for the first level
  li.on a, li.current > a
    color: $menu-link-color
    font-weight: $weight-title
    position: relative
    background: $menu-vertical-background-color
    border: none

    &:hover
      background: $menu-vertical-background-color

      span.toctree-expand
        color: $menu-link-medium

    span.toctree-expand
      @extend .fa
      @extend .fa-minus-square-o
      display: block
      font-size: .8em
      color: darken($menu-link-medium, 30%)

  // This is the on state for pages beyond second level
  li.toctree-l2 a, li.toctree-l3 a, li.toctree-l4 a
    color: $menu-link-color

  li.toctree-l1.current li.toctree-l2, li.toctree-l2.current li.toctree-l3
    > ul
      display: none

    &.current > ul
      display: block

  li.toctree-l2
    > a
      padding: $gutter / 4 $gutter * 2.5 / 0.9 $gutter / 4 $gutter * 2.1 / 0.9

    li.toctree-l3 
      > a
        padding: $gutter / 4 $gutter * 2.5 / 0.9 $gutter / 4 $gutter * 2.8 / 0.9
    
      li.toctree-l4
        > a
          padding: $gutter / 4 $gutter * 2.5 / 0.9 $gutter / 4 $gutter * 3.5 / 0.9

    a:hover span.toctree-expand
      color: $menu-link-medium

    a:hover span.toctree-expand
      color: $menu-link-medium

  li.current ul
    display: block

  li ul
    margin-bottom: 0
    display: none

  li ul li a
    margin-bottom: 0
    color: $menu-link-dark
    font-weight: $weight-body

  a
    display: inline-block
    line-height: $base-line-height
    padding: $gutter / 4 $gutter * 2.5 / 0.9 $gutter / 4 $gutter * 1.4 / 0.9
    display: block
    position: relative
    color: $menu-link-dark

    &:hover
      background-color: lighten($menu-background-color, 10%)
      cursor: pointer

      span.toctree-expand
        color: $menu-link-dark

.wy-side-nav-search
  display: block
  width: $nav-desktop-width
  padding: $gutter / 2
  margin-bottom: $gutter / 2
  z-index: $z-index-popover
  background-color: $nav-search-background-color
  text-align: center
  padding: $gutter / 2
  display: block
  color: $nav-search-color
  margin-bottom: $gutter / 2

  input[type=text]
    width: 100%
    border-radius: 50px
    padding: 6px 12px
    border-color: darken($link-color, 5%)

  img
    display: block
    margin: auto auto $gutter / 2 auto
    height: 45px
    width: 45px
    background-color: $menu-logo-color
    padding: 5px
    border-radius: 100%

  > a, .wy-dropdown > a
    color: $nav-search-color
    font-size: 100%
    font-weight: $weight-body
    display: inline-block
    padding: $base-line-height / 6 $base-line-height / 4
    margin-bottom: $gutter / 2

    &:hover
      background: rgba(255, 255, 255, .1)

    img.logo
      display: block
      // display on its own line all the time
      margin: 0 auto
      height: auto
      // undo badge styling above
      width: auto
      border-radius: 0
      max-width: 100%
      // shrink on mobile, if appropriate
      background: rgba(0, 0, 0, 0)
    // make hover background of parent show up properly
    &.icon
      img.logo
        margin-top: 0.85em
  // space it away from the title text
  > div.version
    margin-top: -1 * ($gutter / 4)
    margin-bottom: $gutter / 2
    font-weight: $weight-body
    color: rgba(255, 255, 255, .3)


.wy-nav .wy-menu-vertical
  header
    color: $link-color

  a
    color: $text-light

    &:hover
      background-color: $link-color
      color: $white

[data-menu-wrap]
  +transition(all .2s ease-in)
  position: absolute
  opacity: 1
  width: 100%
  opacity: 0

  &.move-center
    left: 0
    right: auto
    opacity: 1

  &.move-left
    right: auto
    left: -100%
    opacity: 0

  &.move-right
    right: -100%
    left: auto
    opacity: 0


.wy-body-for-nav
  background: $section-background-color

.wy-grid-for-nav
  position: absolute
  width: 100%
  height: 100%

.wy-nav-side
  position: fixed
  top: 0
  bottom: 0
  left: 0
  padding-bottom: 2em
  width: $nav-desktop-width
  overflow-x: hidden
  overflow-y: hidden
  min-height: 100%
  color: $menu-medium
  background: $nav-background-color
  z-index: 1000
  box-shadow: 3px 0 2px -1px $nav-shadow
  -moz-box-shadow: 3px 0 2px -1px $nav-shadow
  -webkit-box-shadow: 3px 0 2px -1px $nav-shadow

.wy-side-scroll
  width: $nav-desktop-width
  position: relative
  overflow-x: hidden
  height: 100%

.wy-nav-top
  display: none
  background: $link-color
  padding: $gutter / 4 $gutter / 2
  position: relative
  text-align: center
  font-size: 100%
  +clearfix

  a
    color: $white
    font-weight: $weight-title

  img
    margin-right: $base-line-height / 2
    height: 45px
    width: 45px
    background-color: $menu-logo-color
    padding: 5px
    border-radius: 100%

  i
    font-size: 30px
    float: left
    cursor: pointer
    padding-top: inherit

.wy-nav-content-wrap
  margin-left: $nav-desktop-width
  background: $section-background-color
  min-height: 100%
  background-attachment: fixed
  line-height: $base-line-height

.wy-nav-content
  padding: 47px 53px

  height: 100%
  margin: auto
  overflow-x: hidden

.wy-body-mask
  position: fixed
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .2)
  display: none
  z-index: $z-index-modal - 1

  &.on
    display: block

footer
  color: $footer-color

  p
    font-size: 12px
    margin-bottom: $base-line-height / 2

  span.commit code
    padding: 0px
    font-family: $code-font-family
    font-size: 1em
    background: none
    border: none
    color: $footer-color

.rst-footer-buttons
  &:before, &:after
    width: 100%
  +clearfix

.rst-breadcrumbs-buttons
  margin-top: 12px
  +clearfix

#search-inline-results
  .search li
    margin-bottom: $base-line-height
    border-bottom: solid 1px $table_border_color
    padding-bottom: $base-line-height
    cursor: pointer

  .search li:first-child
    border-top: solid 1px $table_border_color
    padding-top: $base-line-height

  .search li a
    display: inline-block

  .context
    color: $gray

.genindextable li > ul
  margin-left: $base-line-height


+media($tablet)
  .wy-body-for-nav
    background: $section-background-color
  .wy-nav-top
    display: block
  .wy-nav-side
    @if $nav-desktop-position == left
      left: -$nav-desktop-width
    @else
      right: -$nav-desktop-width

    &.shift
      width: 85%
      left: 0
  .wy-side-scroll
    width: auto
  .wy-side-nav-search
    width: auto
  .wy-menu.wy-menu-vertical
    width: auto
  .wy-nav-content-wrap
    margin-left: 0

    .wy-nav-content
      padding: $gutter

    &.shift
      position: fixed
      min-width: 100%
      left: 85%
      top: 0
      height: 100%
      overflow: hidden

@media screen and (min-width: $nav-media-query)
  .wy-nav-content
    margin: 0

@media print
  .rst-versions, footer, .wy-nav-side
    display: none
  .wy-nav-content-wrap
    margin-left: 0


// overdrives

body
  color: $text-basic

.wy-nav-content
  padding: 53px 47px
  margin: 0

  .wy-grid-for-nav
    &.custom-scroll
      ::-webkit-scrollbar
        width: 7px

      ::-webkit-scrollbar-track
        box-shadow: inset 0 0 5px gray
        border-radius: 3px

      ::-webkit-scrollbar-thumb
        background: $content-menu-shadow
        border-radius: 3px

  .rst-content

    line-height: $base-line-height

    h1
      font-size: 14pt
      color: $text-medium
      margin-bottom: 25px
      position: relative
      padding-left: 70px
      font-weight: $weight-title

      &:before
        content: ''
        background: $header-line
        display: block
        position: absolute
        left: 0
        width: 60px
        height: 1px
        top: 13px

    h2, h3, h4, h5, h6
      color: $text-dark
      font-weight: $weight-title


    h2
      font-size: 20pt

    h3
      font-size: 16pt

    h4
      font-size: 14pt

    h5
      font-size: 12pt

    h6
      font-size: 10pt

    p
      margin-bottom: 18px
      font-weight: $weight-body

      &:last-child
        margin-bottom: 35px

    blockquote
      &:last-child
        margin-bottom: 35px

    a
      position: relative
      font-weight: $weight-bold
      color: $link-color

      span
        color: $link-color

      &:hover
        text-decoration: underline

      &:visited
        color: $link-visited-color

        span
          color: $link-visited-color

    img
      margin-bottom: 38px

    .admonition
      background: unset
      position: relative
      margin-left: 50px
      padding-left: 20px
      margin-top: 18px

      p
        margin-bottom: 12px

      p.last
        margin-bottom: 0

      &:before
        content: ''
        background: unset
        width: 5px
        display: block
        position: absolute
        border-radius: 5px
        left: -3px
        top: 10px
        bottom: 16px

      .admonition-title
        background: unset
        font-weight: $weight-title
        font-size: 16px
        color: $text-basic
        margin-bottom: -8px

        &:before
          content: ''
          position: absolute
          width: 27px
          height: 27px
          top: 9px
          left: -50px

      .last
        color: $text-basic
        font-size: 16px

      &.attention
        background: unset

        &:before
          background: $admonition-attention

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionWarning.svg") no-repeat

      &.caution
        background: unset

        &:before
          background: $admonition-attention

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionWarning.svg") no-repeat

      &.warning
        background: unset

        &:before
          background: $admonition-attention

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionWarning.svg") no-repeat

      &.danger
        background: unset

        &:before
          background: $admonition-danger-error

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionDangerError.svg") no-repeat

      &.error
        background: unset

        &:before
          background: $admonition-danger-error

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionDangerError.svg") no-repeat

      &.hint
        background: unset

        &:before
          background: $admonition-hint

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionHint.svg") no-repeat

      &.important
        background: unset

        &:before
          background: $admonition-hint

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionHint.svg") no-repeat

      &.tip, &.seealso
        background: unset

        &:before
          background: $admonition-hint

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionHint.svg") no-repeat

      &.note
        background: unset

        &:before
          background: $admonition-note

        .admonition-title
          background: unset

          &:before
            background: url("../images/AdmonitionNote.svg") no-repeat

.hidden-search
  display: none

.topbar.fixed
  position: fixed
  z-index: 999
  width: calc(100% - #{$nav-desktop-width})
  background: $white

  padding-top: 30px

  +media($mobile)
    padding-top: 0

  box-shadow: 0px 3px 2px -1px $gray-lighter
  -moz-box-shadow: 0px 3px 2px -1px $gray-lighter
  -webkit-box-shadow: 0px 3px 2px -1px $gray-lighter

.topbar
  .version
    margin-top: 49px
    top: 0
    position: absolute
    right: 30px
    display: flex
    align-items: center
    color: $text-dark

    +media($tablet)
      .hide-tablet
        display: none

    +media($mobile)
      margin-top: 19px
      .hide-mobile
        display: none

    .version_switcher_placeholder
      height: 42px
      padding-left: 12px

    +media($desktop)
      &.landing
        padding-left: 45px
        align-items: baseline
        border-top: none
        position: relative
        top: initial
        left: initial
        right: initial
        margin-top: 0

        +media($desktop-wide)

        .nice-select

          +media($desktop-wide)

          &:after
            background-size: 20px
            right: -8px
            top: 12px

    select.da-version-switcher
      -webkit-appearance: none
      background: transparent
      border: none
      outline: none
      box-shadow: none
      text-transform: uppercase
      padding: 0

      &:after
        content: "* * *"
        background-image: url('../images/LightBluePixelatedArrow.svg')

    .nice-select
      padding-left: 6px

      .list
        position: absolute
        right: 0
        left: initial
        width: 200px

      &:after
        background-size: 15px
        right: -3px
        top: 13px

  .version-switcher-arrow
    position: relative
    top: -2px


.wy-nav-side
  background-color: $nav-background-color
  padding-top: 30px

  +media($mobile)
    padding-top: 0

  .wy-nav-side-shadow
    display: none

.wy-menu-vertical
  font-size: 16px

  .fa
    display: none

  p.caption
    position: relative
    margin-top: 0
    height: auto
    color: $text-dark

    &:hover
      color: $text-medium
      cursor: pointer

    &:before
      content: ""
      display: block
      background: url("../images/LightBluePixelatedArrow.svg") no-repeat
      width: 35px
      height: 23px
      background-size: 15px
      background-position-x: center
      background-position-y: center
      position: absolute
      right: 17px
      top: 8px

      +media($tablet)
        top: 14px

      -webkit-transform: none
      -moz-transform: none
      -o-transform: none
      -ms-transform: none
      transform: none
      pointer-events: all

    &.open
      &:before
        content: ""
        display: block
        background: url("../images/LightBluePixelatedArrow.svg") no-repeat
        width: 35px
        height: 23px
        background-size: 15px
        background-position-x: center
        background-position-y: center
        position: absolute
        right: 17px
        top: 8px
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -o-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        transform: rotate(180deg)
        pointer-events: all

    span.caption-text
      background-color: unset
      font-size: 16px
      padding-top: 0
      padding-bottom: 0

      text-transform: none
      pointer-events: all

  > ul
    display: none

    &.open
      display: block

    &:first-of-type
      display: block

  ul
    &:first-of-type
      li.toctree-l1:first-of-type
        a.reference
          color: $nav-caption
          height: 44px
          font-size: 16px
          padding-left: 0.7 * $gutter / 18 * 16

          display: block
          font-weight: $weight-body
          white-space: nowrap
          position: relative
          border: none
          margin-top: 15px
          margin-bottom: 14px
          padding-top: 10px

          &:hover
            color: $menu-link-medium

          &:after
            display: none

        &.current
          a.reference
            color: $menu-link-medium

            &:after
              content: ""
              display: block
              background: url("../images/arrowblack.svg") no-repeat
              width: 16px
              height: 17px
              background-size: 16px
              position: absolute
              right: 29px
              top: 18px

            &:hover
              color: $menu-link-medium

    li[class^="toctree-l"]
      font-size: 100%

      a
        margin-top: 0
        margin-bottom: 0
        display: block
        position: relative
        font-size: 90%
        font-weight: $weight-body
        color: $menu-link-dark
        border: none
        background-color: unset
        line-height: $base-line-height

    > li[class^="toctree-l"]
      > a.reference
        &.current
          border: none
          color: $menu-link-medium

          > span.toctree-expand
            &:before
              -webkit-transform: none
              -moz-transform: none
              -o-transform: none
              -ms-transform: none
              transform: none

          &:after
            content: ""
            display: block
            background: url("../images/arrowblack.svg") no-repeat
            width: 16px
            height: 17px
            background-size: 16px
            position: absolute
            right: 28px
            top: 12px
            z-index: 3

          &:hover
            span.toctree-expand
              &:after
                color: $menu-link-medium

        &:hover
          color: $menu-link-medium
          cursor: pointer

      &:not(.current)
        > a.reference
          &.current
            > span.toctree-expand
              &:before
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                transform: none

      &.current
        > a.reference
          border: none

          span.toctree-expand
            display: block

            &:before
              content: ""
              display: block
              background: url("../images/LightBluePixelatedArrow.svg") no-repeat
              width: 35px
              height: 23px
              background-size: 15px
              background-position-x: center
              background-position-y: center
              position: absolute
              right: 18px
              top: 6px
              -webkit-transform: rotate(180deg)
              -moz-transform: rotate(180deg)
              -o-transform: rotate(180deg)
              -ms-transform: rotate(180deg)
              transform: rotate(180deg)

      > a.reference
        span.toctree-expand
          &:before
            content: ""
            display: block
            background: url("../images/LightBluePixelatedArrow.svg") no-repeat
            width: 35px
            height: 23px
            background-size: 15px
            background-position-x: center
            background-position-y: center
            position: absolute
            right: 18px
            top: 6px
            -webkit-transform: none
            -moz-transform: none
            -o-transform: none
            -ms-transform: none
            transform: none

        &.current
          span.toctree-expand
            &:after
              content: ""
              display: block
              background: $white
              width: 18px
              height: 17px
              background-size: 14px
              position: absolute
              right: 16px
              top: 10px
              z-index: 2

            &:before
              content: ""
              display: block
              background: url("../images/LightBluePixelatedArrow.svg") no-repeat
              width: 35px
              height: 23px
              background-size: 15px
              background-position-x: center
              background-position-y: center
              position: absolute
              right: 18px
              top: 8px
              visibility: hidden
              -webkit-transform: rotate(180deg)
              -moz-transform: rotate(180deg)
              -o-transform: rotate(180deg)
              -ms-transform: rotate(180deg)
              transform: rotate(180deg)
              z-index: 1

.shift
  .search-inline
    input[type="text"].search-inline-input
      padding-left: 23px

.wy-nav-content-wrap
  .search-inline
    position: relative
    display: inline-block
    width: calc(100% - 385px)

    &.landing
      display: block
      width: 100%

      +media($desktop)
        margin-top: 16px

    img.search-inline-img
      position: absolute
      left: 47px
      top: 20%
      width: 26px
      height: 29px
      cursor: pointer
      
      +media($tablet)
        left: 23px

    input[type="text"].search-inline-input
      font-size: 16px
      border: none
      outline: none
      box-shadow: none
      width: 100%
      height: 50px
      color: $text-dark
      padding-left: 85px

      +media($tablet)
        padding-left: 65px

    input[type="text"].search-inline-input:-ms-input-placeholder
      color: $blue

    input[type="text"].search-inline-input::-webkit-input-placeholder
      color: $blue

    input[type="text"].search-inline-input:-moz-placeholder
      color: $blue

    input[type="text"].search-inline-input::-moz-placeholder
      color: $blue

    .search-alert
      display: none
      position: absolute
      border: 1px solid gray
      width: 100%
      background: white
      overflow: scroll
      z-index: 200
      top: 50px
      overflow: hidden
      padding: 20px 47px
      color: $text-dark

      &.active
        display: block

    #search-inline-results.search-inline-results
      display: none
      position: absolute
      width: 100%
      background: $white
      overflow: scroll
      z-index: 200
      top: 50px
      overflow: hidden
      box-shadow: 0px 3px 2px -1px $gray-lighter
      -moz-box-shadow: 0px 3px 2px -1px $gray-lighter
      -webkit-box-shadow: 0px 3px 2px -1px $gray-lighter

      &.active
        display: block

      h2
        display: none

      p
        color: $gray
        bottom: 0
        margin-top: 15px
        margin-bottom: 20px
        padding-left: 52px
        font-weight: $weight-body

        a
          margin-left: 5px
          font-weight: $weight-bold

      ul
        max-height: 155px
        overflow: hidden

        li
          margin-bottom: 0
          margin-top: 0
          border: none
          padding-bottom: 12px
          padding-left: 47px
          padding-right: 25px
          padding-top: 12px

          a
            font-weight: $weight-title

          &.active
            background-color: $menu-background-color
            border-left: 5px solid $blue
            padding-left: 42px

          &:hover
            background-color: $gray-lighter
            border-left: 5px solid $blue
            padding-left: 42px

          a
            float: left
            margin-right: 10px
            white-space: nowrap
            padding-left: 5px

          .context
            height: 28px
            overflow: hidden

  #search-results
    width: 95%

    h2
      font-size: 14px
      color: $text-dark
      margin-bottom: 25px

      +media($desktop-wide)
        margin-bottom: 35px

      position: relative
      padding-left: 70px
      font-weight: $weight-title

      &:before
        content: ''
        background: $header-line
        display: block
        position: absolute
        left: 0
        width: 60px
        height: 1px
        top: 9px

    ul.search
      margin-top: -28px

      li
        a
          margin-top: 18px
          display: inline-block
          position: relative
          color: $blue

          &:hover
            text-decoration: underline

          &:visited
            color: $link-visited-color

            span
              color: $link-visited-color

        .context
          color: $search-results
          margin-top: 8px

          .highlighted
            color: $turqoise
            background: $serach-highlighted
            display: inline-block
            font-weight: $weight-body
            padding: 0 6px


.content-menu
  position: relative
  right: initial
  top: initial
  display: inline-block
  width: 380px
  vertical-align: top
  font-size: 100%
  background: $white
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

  +media($desktop-wide)
    -webkit-box-shadow: 1px 1px 8px -5px $content-menu-shadow
    -moz-box-shadow: 1px 1px 8px -5px $content-menu-shadow
    box-shadow: 1px 1px 8px -5px $content-menu-shadow

  &.collapsed
    .content-menu-expand
      &:before
        background: url("../images/Expand.svg") no-repeat

    .content-menu-wrapper
      display: none

  .content-menu-title
    font-weight: $weight-title
    color: $menu-link-dark
    font-size: 16px
    padding-left: 42px
    padding-top: 15px
    padding-bottom: 10px
    display: block
    width: 100%

  .content-menu-expand
    &:before
      content: ""
      display: block
      background: url("../images/Collapse.svg") no-repeat
      width: 20px
      height: 20px
      background-size: 20px
      background-position-x: center
      background-position-y: center
      position: absolute
      right: 32px
      top: 14px
      z-index: 300

  .content-menu-wrapper
    position: absolute
    padding-left: 42px
    padding-right: 30px
    padding-top: 0
    overflow-y: auto
    overflow-x: hidden
    z-index: 200
    width: 100%
    height: 100%
    background: $white

    +media($tablet)
      -webkit-box-shadow: -2px 2px 3px 0px $gray-lighter
      -moz-box-shadow: -2px 2px 3px 0px $gray-lighter
      box-shadow: -2px 2px 3px 0px $gray-lighter

    +media($desktop)
      -webkit-box-shadow: -2px 2px 3px 0px $gray-lighter
      -moz-box-shadow: -2px 2px 3px 0px $gray-lighter
      box-shadow: -2px 2px 3px 0px $gray-lighter

      +media($desktop-wide)
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none

    .content-menu-toc
      code
        color: $text-dark
        background-color: $serach-highlighted
        font-family: Courier New, Courier, monospace
        font-size: 80%
        position: relative
        top: -1px

      ul
        ul
          padding-left: 10px

      ul
        > li
          position: relative

          > a
            margin-top: 6px
            display: block
            font-size: 16px
            font-weight: $weight-body
            color: $menu-link-dark

            &:hover
              color: $menu-link-medium

          &.active
            > a
              color: $menu-link-medium

+media($desktop)

  .topbar
    .version

      .nice-select
        .list
          width: 250px
  .wy-nav-content
    .rst-content

      .h1-section
        max-width: $nav-content-width

      .h2-section,
      .h3-section,
      .h4-section,
      .h5-section,
      .h6-section
        max-width: $nav-content-width
        margin-top: 50px

      .h3-section,
      .h4-section,
      .h5-section,
      .h6-section
        &:first-of-type
          margin-top: 20px

+media($desktop-wide)
  html body, p
    font-size: 18px

  .wy-nav-content

    max-width: initial
    padding-right: 400px

    &.landing
      padding-right: 47px

+media($desktop-wider)
  .wy-nav-content-wrap
    .search-inline
      position: relative
      display: block
      width: 100%
  .content-menu
    position: fixed
    right: 27px
    top: 202px
    width: 380px
    display: block

    &.collapsed
      bottom: unset
      height: 70px !important

      .content-menu-expand
        &:before
          background: url("../images/Expand.svg") no-repeat

      .content-menu-wrapper
        display: none

    .content-menu-title
      font-weight: $weight-title
      color: $menu-link-dark
      font-size: 16px
      position: absolute
      z-index: 2
      padding-left: 42px
      padding-top: 24px
      padding-bottom: 19px
      display: block
      width: 100%
      z-index: 300

    .content-menu-expand
      &:before
        content: ""
        display: block
        background: url("../images/Collapse.svg") no-repeat
        width: 20px
        height: 20px
        background-size: 20px
        background-position-x: center
        background-position-y: center
        position: absolute
        right: 32px
        top: 25px
        z-index: 300

    .content-menu-wrapper
      padding-left: 42px
      padding-right: 30px
      padding-top: 60px
      width: 380px


+media($tablet)
  .topbar.fixed
    left: 0

  .wy-nav-content-wrap
    .wy-nav-content
      padding: 25px
      max-width: unset

      .rst-content

        .h1-section
          max-width: $nav-content-width

        .h2-section,
        .h3-section,
        .h4-section,
        .h5-section,
        .h6-section
          max-width: $nav-content-width
          margin-top: 35px

        .h3-section,
        .h4-section,
        .h5-section,
        .h6-section
          &:first-of-type
            margin-top: 15px

        p
          margin-bottom: 13px

          &:last-child
            margin-bottom: 25px

            +media($desktop-wide)
              margin-bottom: 35px

        .admonition
          .admonition-title
            font-size: 14px

          .last
            font-size: 14px

  .wy-nav-side
    .wy-side-scroll
      .wy-menu
        &.wy-menu-vertical
          .fa
            display: block

  .wy-nav-side
    &.shift
      width: 350px
      top: 145px
  
  .wy-menu-vertical
    margin-top: 10px

    i.fa
      font-size: 30px
      cursor: pointer
      color: $text-dark
      background: unset
      display: inline-block
      margin-left: 63px
      margin-top: 17px
      position: static
      margin-bottom: 34px

      &:before
        content: ""
        display: block
        background: url("../images/Close.svg") no-repeat
        width: 35px
        height: 31px
        background-size: 22px
        background-position-x: center
        background-position-y: center
        position: absolute
        left: 19px
        top: 26px
        z-index: 999

      .wy-menu-vertical-title
        position: relative
        font-weight: $weight-body
        top: 15px
        left: 12px

        +media($tablet)
          display: none

    p.caption
      span.caption-text
        font-size: 14px

    ul
      &:first-of-type
        > li.toctree-l1:first-of-type
          > a.reference
            font-size: 16px

            &:before
              display: none

      &.open
        > li[class^="toctree-l"]
          > a.reference
            font-size: 14px

          ul
            margin-top: 0

            li
              > a.reference
                font-size: 14px

              ul
                li
                  > a.reference
                    font-size: 14px

  .wy-nav-content-wrap
    .wy-nav-top
      color: $text-dark
      background: unset
      margin-left: 4px
      margin-top: 13px
      position: fixed
      z-index: 1001

      i.wy-nav-top-toggle
        margin-top: -1px
        position: relative

        &:before
          content: ""
          display: block
          background: url("../images/Hamburger.svg") no-repeat
          width: 35px
          height: 31px
          background-size: 22px
          background-position-x: center
          background-position-y: center
          position: absolute
          top: 3px

    &.shift
      left: 350px

      .wy-nav-top
        i.wy-nav-top-toggle:before
          background: url(../images/Close.svg) no-repeat
          background-size: 22px
          background-position-x: center
          background-position-y: center

+media($mobile)
  .wy-nav-side
    .wy-nav-side-shadow
      display: none


  .wy-nav-content-wrap
    .wy-nav-content
      padding-left: 30px
      padding-top: 23px

      &.landing
        padding-left: 10px

      .rst-content

        h1
          font-size: 10pt

          &:before
            top: 9px

        p
          margin-bottom: 25px

        .admonition
          .admonition-title
            font-size: 14px

          .last
            font-size: 14px
  .topbar
    .version

      .hide-mobile
        display: none

  .wy-nav-side
    overflow-y: unset
    overflow-x: unset
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none

    &.shift
      width: 100%
      position: fixed
      top: 220px
      padding-bottom: 262px
      z-index: 1

    .wy-side-scroll
      width: 100%
      position: relative
      overflow-y: unset
      overflow-x: unset
      height: 100%

      .wy-menu
        &.wy-menu-vertical
          overflow: scroll
          height: 100%
          padding-top: 0px

          .wy-menu-vertical-title
            display: none

          i.fa
            font-size: 30px
            cursor: pointer
            color: $text-dark
            background: unset
            display: inline-block
            margin-left: 0px
            top: -275px
            position: absolute
            margin-bottom: 34px

            &:before
              content: ""
              display: block
              background: url("../images/Close.svg") no-repeat
              width: 35px
              height: 31px
              background-size: 22px
              background-position-x: center
              background-position-y: center
              position: absolute
              left: 19px
              top: 37px

          .caption
            box-shadow: none
            -moz-box-shadow: none
            -webkit-box-shadow: none

            .caption-text
              font-size: 14px
              text-indent: -10px
              display: inline-block
              margin-left: 10px

          ul

            &:first-of-type
              li.toctree-l1:first-of-type
                a.reference
                  font-size: 16px
                  margin-top: 20px

                  &:before
                    left: 44px
                    display: block

                  &:hover
                    box-shadow: none
                    -moz-box-shadow: none
                    -webkit-box-shadow: none

                &.current
                  a.reference
                    box-shadow: none
                    -moz-box-shadow: none
                    -webkit-box-shadow: none

            > li[class^="toctree-l"]
              > a.reference
                font-size: 14px

                &.current
                  box-shadow: none
                  -moz-box-shadow: none
                  -webkit-box-shadow: none

                &:hover
                  box-shadow: none
                  -moz-box-shadow: none
                  -webkit-box-shadow: none

  .wy-nav-content-wrap
    .search-inline
      display: none

      &.landing
        display: none

      .search-inline-input
        height: 60px
        padding-left: 27px

      img
        right: 17px
        top: 21px
        width: 19px
        height: 21px

    .wy-breadcrumbs
      display: none
    
    &.shift
      width: 100%

      .search-inline
          display: block
          width: 100%
          margin-top: 110px

      .wy-nav-content
        margin-top: 110px

  .content-menu
    display: none


.wy-nav-content
  .rst-content

    .section[id], dl[id]
      &:before
        display: block
        content: " "
        margin-top: -150px
        height: 150px
        visibility: hidden
        pointer-events: none

    .section
      max-width: $nav-content-width

    h1, h2, h3, h4, h5, h6
      a, a:visited
        color: $blue
        cursor: default
        word-break: break-word

    .wy-table-responsive
      overflow: visible
      table-layout: fixed

      table.docutils:not(.field-list)

        box-shadow: 1px 1px 6px -3px $table-shadow
        -moz-box-shadow: 1px 1px 6px -3px $table-shadow
        -webkit-box-shadow: 1px 1px 6px -3px $table-shadow
        border: none
        width: 100%

        thead
          th
            white-space: pre
            border: none
            text-transform: uppercase
            border-bottom: 1px solid #dddddd
            color: $text-dark
            padding: 22px 23px 22px 23px
            background-color: #ffffff

            &:first-child
              padding-left: 23px
            
            p
              font-weight: $weight-title
              margin-bottom: 0

        tr
          td
            border: none
            padding: 27px 23px 27px 23px
            color: $text-dark
            white-space: normal
            vertical-align: top

            &:first-child
              padding-left: 23px

        tr:nth-child(2n+1)
          td
            background-color: white

        tr:nth-child(2n)
          td
            background-color: $gray-lighter

    .section

      ul

        li
          list-style: none

          &:before
            content: "\2022"
            color: $blue
            position: absolute
            left: -1.4em
            font-size: 1em

      ul, ol
        color: #2980B9
        margin-bottom: 25px !important

        +media($desktop-wide)
          margin-bottom: 35px !important

        li
          margin-top: $base-line-height / 4
          color: $gray
          position: relative

          p
            margin-bottom: 5px

          ul, ol
            margin-bottom: 12px !important

            &:last-child
              margin-bottom: 0px !important


            li
              margin-top: $base-line-height / 8

          ul

            li
              list-style: none

              &:before
                content: "\25e6"
                color: $blue
                position: absolute
                left: -1.2em
                font-size: 1.4em

        a
          &:visited
            color: $link-visited-color

    .rst-footer-buttons
      padding: 1em 0

    
    a.da-btn
      z-index: 0
      position: relative
      color: $text-dark
      text-decoration: none

      &:visited
        color: $text-dark

      .da-btn-label, &.da-btn-label
        padding: 0.6em 1.6em
        font-weight: $weight-btn
        font-family: $btn-font-family
        color: $text-dark
        text-decoration: none

        &:visited
          color: $text-dark

        &.btn-next
          margin-left: 20px
          padding: 0.6rem 2.8rem

        &.btn-prev
          &:hover:before
            transform: translate(-9em, -50%)

          &:after
            right: 7.7em
            top: 1em
            transform: scaleX(-1)

        &:before
          content: ''
          position: absolute
          right: -2em
          top: 50%
          transform: translate(-2em, -50%)
          width: 100%
          height: 100%
          background-color: $turqoise !important
          color: $text-dark
          z-index: -1
          border-radius: 3em
          transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1)

        &:after
          content: ''
          position: absolute
          width: 0.7em
          height: 0.6em
          right: -0.3em
          top: 50%
          transform: translate(0em, -50%)
          background-image: url("../images/arrowblack.svg")
          background-size: cover
          opacity: 0
          transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1)

      &:hover
        text-decoration: none
        .da-btn-label, &.da-btn-label
          &:before
            width: 2em
            height: 2em
            transform: translate(-1em, -50%)

          &:after
            opacity: 1

ul.search
  em, .ss360-highlight
    font-style: inherit
    color: $text-dark
    background-color: $serach-highlighted
    padding-right: 3px
    margin-right: -3px
    padding-left: 3px
    margin-left: -3px

div.pdf-download
  margin-top: 30px

  a, a:visited
    color: $blue
    padding: $gutter / 4 $gutter * 0.7

    &:before
      color: $blue
      display: inline-block
      margin-right: 4px
      content: ""
      background: url(../images/DownloadDarkBlue.svg) no-repeat
      width: 14px
      height: 14px
      position: relative
      top: 2px
      background-size: 11px

#feedback-container
  z-index: 2000
  float: right
  padding: 150px 0 30px 40px
  margin-right: calc(100% - $nav-content-width)

  +media($mobile)
    display: none

  a
    font-size: 14px

.cta-alt
  display: none

#inpageContent
  display: block
  overflow: hidden
  position: fixed
  bottom: 50px
  right: 20px
  z-index: 2000

  +media($mobile)
    display: none

#popoutContent
  z-index: 2000
  +media($mobile)
    display: none

footer
  max-width: $nav-content-width
