.navbar h1
    margin: 0
    margin-top: 4px

    img
        max-height: 30px

.navbar
    display: flex
    height: 65px
    padding-left: 47px
    padding-right: 32px
    justify-content: space-between
    align-items: center

    h1
        &:before
            padding-left: 0
            margin-bottom: initial
            display: none

    .navbar-menu
        display: flex
        justify-content: flex-end
        align-items: center
        margin-top: -75px

        
        .da-menu-item
            display: flex
            font-weight: 700
            font-size: 16px
            line-height: 29px
            margin-left: 32px

        .da-menu-link
            position: relative
            text-decoration: none
            color: $text-dark
            overflow: hidden

            &:before
                content: ''
                position: absolute
                width: 100%
                bottom: 0
                left: 0
                height: 2px
                background-color: $text-medium
                transform: translateX(-101%)

            &:after
                content: ''
                position: absolute
                width: 100%
                bottom: 0
                left: 0
                height: 2px
                background-color: $text-medium
                transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1)
                transform: translateX(101%)

            &:hover
                color: $text-medium

                &:before
                    transform: translateX(0)
                    transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1)

                &:after
                    transform: translateX(0)
                    transition-delay: 490ms
                    transition-duration: 10ms

+media($tablet)
    .navbar
        padding-left: 65px
        h1
            margin-top: 12px
            max-width: 141px

+media($mobile)
    .wy-nav-content-wrap
        .navbar
            .navbar-menu
                display: none
                margin-top: 0
                flex-direction: column
                align-items: start
                position: absolute
                top: 66px
                left: 64px
                width: 100%
                height: auto
                font-size: 14px
                box-shadow: none
                -moz-box-shadow: none
                -webkit-box-shadow: none
                padding-bottom: 10px

                .da-menu-item
                    margin-left: 0
                    margin-bottom: 3px

        &.shift
            .navbar
                .navbar-menu
                    display: flex
                    
