canton {
    parameters {
        dev-version-support = true
        non-standard-config = true
    }
    domains {
        local {
            admin-api {
                port=6868
            }
            init {
                domain-parameters {
                    protocol-version="dev"
                }
            }
            public-api {
                port=6867
            }
            storage {
                type=memory
            }
        }
    }
    participants {
        sandbox {
            admin-api {
                port=6866
            }
            ledger-api {
                port=6865
                user-management-service {
                    enabled=true
                }
            }
            storage {
                type=memory
            }
            parameters {
                dev-version-support = true
            }
        }
    }
}