<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%replace(, context: %marker){', context: $', ''}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>sandbox.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <!-- Disable noisy DB logging at the start of sandbox -->
    <logger name="com.daml.platform.store.FlywayMigrations" level="WARN" />
    <logger name="org.flywaydb" level="ERROR" />
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="com.daml.ledger.on.sql" level="WARN" />
    <logger name="com.daml.platform" level="WARN" />

    <!-- raising the command tracker logging level -->
    <logger name="com.daml.platform.apiserver.services.tracking.TrackerMap" level="WARN" />

    <!--
    explicitly enabling the info logging for sandbox main and ledger api server
    for the usual startup info logging (which port, dar files, etc...)
    -->
    <logger name="com.daml.platform.sandboxnext" level="INFO" />
    <logger name="com.daml.platform.sandbox" level="INFO" />
    <logger name="com.daml.platform.apiserver.LedgerApiServer" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
