<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- attempt to place the correlation-id with a trailing space, however replace with an empty string if it's empty -->
      <pattern>%date [%thread] %-5level %logger{10} %replace(cid:%mdc{correlation-id} ){'cid: ', ''}- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Note that com.daml logs valuable info at TRACE level.
       Set to TRACE for troubleshooting.
  -->
  <logger name="com.daml" level="DEBUG"/>
  <!-- canton logs left at INFO to keep in check log file length and readability to "general daml-ledger" audience -->
  <logger name="com.digitalasset" level="INFO"/>
  <!-- netty reports ssl errors on DEBUG level ... -->
  <logger name="io.netty.handler.ssl" level="INFO"/>
</configuration>
