sdk-version: __VERSION__
name: __PROJECT_NAME__
version: 0.1.0
source: daml
dependencies:
- daml-prim
- daml-stdlib
- daml-script
codegen:
  js:
    output-directory: ui/daml.js
    npm-scope: daml.js
# Remove this line when running against a ledger without user management.
init-script: Setup:setup
