<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.daml.ledger.client.binding.log.LogbackThresholdFilterWithExclusion">
            <level>INFO</level>
            <excludeLogger>com.daml.nanobot.log</excludeLogger>
        </filter>
        <encoder>
            <pattern>%level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
