<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stderr-appender" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX", UTC} %-5level %logger{5}@[%-4.30thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOGLEVEL:-ERROR}">
        <appender-ref ref="stderr-appender"/>
    </root>

    <logger name="io.netty" level="WARN">
        <appender-ref ref="stderr-appender"/>
    </logger>
    <logger name="io.grpc.netty" level="WARN">
        <appender-ref ref="stderr-appender"/>
    </logger>
</configuration>
