<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX", UTC} %-5level %logger{5}@[%-4.30thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOGLEVEL:-DEBUG}">
        <appender-ref ref="stdout-appender"/>
    </root>

    <logger name="io.netty" level="WARN">
        <appender-ref ref="stdout-appender"/>
    </logger>
    <logger name="io.grpc.netty" level="WARN">
        <appender-ref ref="stdout-appender"/>
    </logger>
</configuration>
