<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %replace(, context: %marker){', context: $', ''} %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Disable noisy DB logging at the start of sandbox -->
    <logger name="com.daml.platform.store.FlywayMigrations" level="WARN" />
    <logger name="org.flywaydb" level="INFO" />
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="com.daml.platform" level="INFO" />

    <!-- raising the command tracker logging level -->
    <logger name="com.daml.platform.apiserver.services.tracking.TrackerMap" level="WARN" />

    <logger name="io.netty" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.grpc.netty" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</included>
