<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <if condition='isDefined("LOG_FORMAT_JSON")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <!-- encoders are assigned the type
                    ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <encoder>
                    <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSS", UTC} [%thread] %-5level %logger{36} - %msg%replace(, context: %marker){', context: $', ''} %n</pattern>
                </encoder>
            </appender>
        </else>
    </if>
    <logger name="io.netty" level="DEBUG" />
    <logger name="akka.http.slf4j" level="DEBUG" />
    <logger name="io.grpc.netty" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
