Ledger API Reference
####################
{{range .Files}}
{{$file_name := .Name}}
.. _{{.Name}}:

{{.Name}}
***************************************************************************************************

{{.Description}}
{{range .Messages}}
.. _{{.FullName}}:

{{.LongName}}
===================================================================================================
{{$full_name := .FullName}}
{{.Description}}
{{if .HasFields}}
.. list-table::
   :header-rows: 1

   * - Field
     - Type
     - Label
     - Description
   {{range .Fields -}}
   * - .. _{{$full_name}}.{{.Name}}: 

       {{if .IsOneof}}`oneof <https://developers.google.com/protocol-buffers/docs/proto3#oneof>`_ {{.OneofDecl}}.{{end}}{{.Name}}
     - :ref:`{{.LongType}} <{{.FullType}}>`
     - {{.Label}}
     - {{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}
   {{end}}
{{end}}
{{if .HasExtensions}}
.. list-table::
   :header-rows: 1

   * - Extension
     - Type
     - Base
     - Number
     - Description
   {{range .Extensions -}}
   * - {{.Name}}
     - {{.LongType}}
     - {{.ContainingLongType}}
     - {{.Number}}
     - {{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}
   {{end}}
{{end}}
{{end}}
{{range .Enums}}
.. _{{.FullName}}:

{{.LongName}}
===================================================================================================
{{$full_name := .FullName}}
{{.Description}}

.. list-table::
   :header-rows: 1

   * - Name
     - Number
     - Description
   {{range .Values -}}
   * - .. _{{$full_name}}.{{.Name}}:

       {{.Name}}
     - {{.Number}}
     - {{nobr .Description}}
   {{end}}

{{end}}
{{if .HasExtensions}}
.. _{{$file_name}}-extensions:

File-level Extensions
===================================================================================================

.. list-table::
   :header-rows: 1

   * - Extension
     - Type
     - Base
     - Number
     - Description
   {{range .Extensions -}}
   * - {{.Name}}
     - {{.LongType}}
     - {{.ContainingLongType}}
     - {{.Number}}
     - {{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}
   {{end}}
{{end}}
{{range .Services}}
.. _{{.FullName}}:

{{.LongName}}
===================================================================================================

{{.Description}}

.. list-table::
   :header-rows: 1

   * - Method name
     - Request type
     - Response type
     - Description
   {{range .Methods -}}
   * - {{.Name}}
     - :ref:`{{.RequestLongType}} <{{.RequestFullType}}>`
     - :ref:`{{.ResponseLongType}} <{{.ResponseFullType}}>`
     - {{nobr .Description}}
   {{end}}
{{end}}
{{end}}

.. _scalarvaluetypes:

Scalar Value Types
***************************************************************************************************

.. list-table::
   :header-rows: 1

   * - .proto type
     - Notes
     - C++ type
     - Java type
     - Python type
   {{range .Scalars -}}
   * - .. _{{.ProtoType}}: 

       {{.ProtoType}}
     - {{.Notes}}
     - {{.CppType}}
     - {{.JavaType}}
     - {{.PythonType}}
   {{end}}
