# Copyright (c) 2025 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

packages:
- ./book
- ./catalog-item
- ./disc
- ./library
- ./library-tests
