[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-autobuild = "*"
sphinx = "*"
jinja2 = ">=2.10.1"

[requires]
python_version = "3.6"
