[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-autobuild = "*"
sphinx-copybutton = "==0.2.12"
sphinx = "==4.3.1"
jinja2 = ">=2.11.3"
urllib3 = ">=1.26.5"

[requires]
python_version = "3.7"
