# Copyright (c) 2025 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

sdk-version: __VERSION__
name: book
source: daml
version: 1.0.0
dependencies:
  - daml-prim
  - daml-stdlib
data-dependencies:
  - ../catalog-item/.daml/dist/catalog-item-1.0.0.dar

