<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %replace(, context: %marker){', context: $',
                ''} %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>sandbox.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="RecoveringIndexerLoggerCapture" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.indexer.RecoveringIndexerSpec</test>
    </appender>

    <logger name="com.daml.platform.indexer.RecoveringIndexer" level="INFO">
        <appender-ref ref="RecoveringIndexerLoggerCapture"/>
    </logger>

    <appender name="ApiPackageManagementServiceLoggerCapture" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.apiserver.services.admin.ApiPackageManagementServiceSpec</test>
    </appender>

    <logger name="com.daml.platform.apiserver.services.admin.ApiPackageManagementService" level="INFO">
        <appender-ref ref="ApiPackageManagementServiceLoggerCapture"/>
    </logger>

    <appender name="BuffersUpdaterLoggerCapture" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.index.BuffersUpdaterSpec</test>
    </appender>

    <logger name="com.daml.platform.index.BuffersUpdater" level="INFO">
        <appender-ref ref="BuffersUpdaterLoggerCapture"/>
    </logger>

    <appender name="JdbcIndexerSpecAppender" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.indexer.JdbcIndexerSpec</test>
    </appender>

    <appender name="IndexerStabilitySpecAppender" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.indexer.ha.IndexerStabilitySpec</test>
    </appender>

    <appender name="LogOnUnhandledFailureInCloseCapture" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.apiserver.error.ErrorInterceptorSpec</test>
    </appender>

    <logger name="com.daml.platform.apiserver.error.LogOnUnhandledFailureInClose" level="INFO">
        <appender-ref ref="LogOnUnhandledFailureInCloseCapture"/>
    </logger>

    <appender name="ErrorInterceptor" class="com.daml.platform.testing.LogCollector">
        <test>com.daml.platform.apiserver.error.ErrorInterceptorSpec</test>
    </appender>

    <logger name="com.daml.platform.apiserver.error.ErrorInterceptor" level="INFO">
        <appender-ref ref="ErrorInterceptor"/>
    </logger>

    <logger name="com.daml.platform.store.dao.HikariConnection" level="INFO">
        <appender-ref ref="JdbcIndexerSpecAppender"/>
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <logger name="org.flywaydb" level="INFO">
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO">
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
