<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2022 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%replace(, context: %marker){', context: $', ''}%n</pattern>
        </encoder>
    </appender>

    <!-- Disable noisy DB logging at the start of sandbox -->
    <logger name="com.daml.platform.store.FlywayMigrations" level="WARN" />
    <logger name="org.flywaydb" level="ERROR" />
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="com.daml.platform" level="WARN" />

    <!-- raising the command tracker logging level -->
    <logger name="com.daml.platform.apiserver.services.tracking.TrackerMap" level="WARN" />

    <!-- disable client-triggered conflict checking error messages in the ledger bridge -->
    <logger name="com.daml.ledger.sandbox.bridge" level="WARN" />
    <logger name="com.daml.ledger.sandbox.BridgeWriteService" level="WARN" />
    <logger name="com.daml.ledger.sandbox.BridgeReadService" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
