<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<configuration>
    <include resource="com/daml/ledger/participant/state/kvutils/app/logback.base.xml"/>
    <logger name="com.daml.platform.indexer.ha" level="DEBUG" />
</configuration>
