<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="TEST" class="com.digitalasset.ledger.api.logging.TestAppender">
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TEST" />
    </root>
</configuration>
