# for config file options, refer to
# https://docs.digitalasset.com/build/3.5/dpm/configuration.html#project-configuration

sdk-version: __VERSION__
name: __PROJECT_NAME__-interfaces
source: daml
version: 1.0.0
dependencies:
  - daml-prim
  - daml-stdlib
  - daml-script
