version: __VERSION__
commands:
- name: compile
  path: damlc/da-hs-damlc-app
  args: ["compile"]
  desc: "Compile a DAML file"
- name: package
  path: damlc/da-hs-damlc-app
  args: ["package-new"]
  desc: "Compile a DAML project into a DAR"
- name: test
  path: damlc/da-hs-damlc-app
  args: ["test"]
  desc: "Run the scenarios in the given DAML file and all dependencies"
- name: ide
  path: damlc/da-hs-damlc-app
  args: ["lax", "ide"]
  desc: "Run the DAML language server"
- name: studio
  path: daml-helper/daml-helper
  desc: "Launch DAML studio"
  args: ["studio"]
- name: sandbox
  path: daml-helper/daml-helper
  desc: "Start the sandbox"
  args: ["sandbox"]
- name: navigator
  path: daml-helper/daml-helper
  desc: "Start the navigator"
  args: ["run-jar", "navigator/navigator.jar", "--"]
- name: extractor
  path: daml-helper/daml-helper
  desc: "Start the extractor"
  args: ["run-jar", "extractor/extractor.jar", "--"]
- name: new
  path: daml-helper/daml-helper
  desc: "Create a new project"
  args: ["new"]
- name: start
  path: daml-helper/daml-helper
  args: ["start"]
  desc: "Start the sandbox and the navigator using the given DAR"
