version: __VERSION__
commands:
- name: studio
  path: daml-helper/daml-helper
  desc: "Launch DAML Studio"
  args: ["studio"]
- name: new
  path: daml-helper/daml-helper
  desc: "Create a new DAML project"
  args: ["new"]
- name: migrate
  path: daml-helper/daml-helper
  args: ["migrate"]
- name: init
  path: daml-helper/daml-helper
  desc: "Configure a folder as a DAML project"
  args: ["init"]
- name: build
  path: damlc/damlc
  args: ["build", "--project-check"]
  desc: "Build the DAML project into a DAR file"
- name: test
  path: damlc/damlc
  args: ["test"]
  desc: "Run the scenarios in the given DAML file and all dependencies"
- name: start
  path: daml-helper/daml-helper
  args: ["start"]
  desc: "Launch Sandbox and Navigator for current DAML project"
- name: clean
  path: damlc/damlc
  args: ["clean", "--project-check"]
  desc: "Delete build artifacts from project folder"
- name: damlc
  path: damlc/damlc
  desc: "Run the DAML compiler"
- name: sandbox
  path: daml-helper/daml-helper
  desc: "Launch the Sandbox"
  args: ["run-jar", "--logback-config=daml-sdk/sandbox-logback.xml", "daml-sdk/daml-sdk.jar", "sandbox"]
- name: navigator
  path: daml-helper/daml-helper
  desc: "Launch the Navigator"
  args: ["run-jar", "--logback-config=daml-sdk/navigator-logback.xml", "daml-sdk/daml-sdk.jar", "navigator"]
- name: extractor
  path: daml-helper/daml-helper
  desc: "Launch the Extractor"
  args: ["run-jar", "--logback-config=daml-sdk/extractor-logback.xml", "daml-sdk/daml-sdk.jar", "extractor"]
- name: ledger
  path: daml-helper/daml-helper
  desc: "Interact with a DAML ledger (experimental)"
  args: ["ledger"]
- name: codegen
  path: daml-helper/daml-helper
  desc: "Run a language bindings code generation tool"
  args: ["codegen"]
- name: deploy
  path: daml-helper/daml-helper
  desc: "Deploy DAML project to a ledger (experimental)"
  args: ["deploy"]
- name: ide
  path: damlc/damlc
  args: ["lax", "ide"]
- name: json-api
  path: daml-helper/daml-helper
  desc: "Launch the HTTP JSON API (experimental)"
  args: ["run-jar", "--logback-config=daml-sdk/json-api-logback.xml", "daml-sdk/daml-sdk.jar", "json-api"]
- name: trigger
  path: daml-helper/daml-helper
  args: ["run-jar", "--logback-config=daml-sdk/trigger-logback.xml", "daml-sdk/daml-sdk.jar", "trigger"]
  desc: "Run a DAML trigger (experimental)"
- name: script
  path: daml-helper/daml-helper
  args: ["run-jar", "--logback-config=daml-sdk/script-logback.xml", "daml-sdk/daml-sdk.jar", "script"]
  desc: "Run a DAML script (experimental)"
- name: test-script
  path: daml-helper/daml-helper
  args: ["run-jar", "--logback-config=daml-sdk/test-script-logback.xml", "daml-sdk/daml-sdk.jar", "test-script"]
  desc: "Run a DAML script tests (experimental)"
