version: __VERSION__
commands:
- name: studio
  path: daml-helper/daml-helper
  desc: "Launch Daml Studio"
  args: ["studio"]
  completion: true
- name: new
  path: daml-helper/daml-helper
  desc: "Create a new Daml project"
  args: ["new"]
  completion: true
- name: create-daml-app
  path: daml-helper/daml-helper
  desc: "Create a new Daml project based on create-daml-app"
  args: ["create-daml-app"]
  completion: true
- name: init
  path: daml-helper/daml-helper
  desc: "Configure a folder as a Daml project"
  args: ["init"]
  completion: true
- name: build
  path: damlc/damlc
  args: ["build"]
  desc: "Build the Daml project into a DAR file"
  completion: true
- name: test
  path: damlc/damlc
  args: ["test"]
  desc: "Run the scripts in the given Daml file and all dependencies"
  completion: true
- name: start
  path: daml-helper/daml-helper
  args: ["start"]
  desc: "Launch Sandbox and Navigator for current Daml project"
  completion: true
- name: clean
  path: damlc/damlc
  args: ["clean", "--project-check"]
  desc: "Delete build artifacts from project folder"
  completion: true
- name: damlc
  path: damlc/damlc
  desc: "Run the Daml compiler"
  completion: true
- name: sandbox
  path: daml-helper/daml-helper
  desc: "Launch Canton Sandbox"
  args: ["sandbox"]
- name: ledger
  path: daml-helper/daml-helper
  desc: "Interact with a Daml ledger"
  args: ["ledger"]
  completion: true
- name: packages
  path: daml-helper/daml-helper
  desc: "Query packages of a remote Daml ledger"
  args: ["packages"]
  completion: true
- name: codegen
  path: daml-helper/daml-helper
  desc: "Run a language bindings code generation tool"
  args: ["codegen"]
  completion: true
- name: deploy
  path: daml-helper/daml-helper
  desc: "Deploy Daml project to a ledger"
  args: ["deploy"]
  completion: true
- name: ide
  path: damlc/damlc
  args: ["ide"]
- name: trigger-service
  path: daml-helper/daml-helper
  desc: "Launch the trigger service"
  args: ["run-jar", "--logback-config=daml-sdk/trigger-service-logback.xml", "daml-sdk/daml-sdk.jar", "trigger-service"]
- name: oauth2-middleware
  path: daml-helper/daml-helper
  desc: "Launch the OAuth 2.0 middleware"
  args: ["run-jar", "--logback-config=daml-sdk/oauth2-middleware-logback.xml", "daml-sdk/daml-sdk.jar", "oauth2-middleware"]
- name: trigger
  path: daml-helper/daml-helper
  args: ["run-jar", "--logback-config=daml-sdk/trigger-logback.xml", "daml-sdk/daml-sdk.jar", "trigger"]
  desc: "Run a Daml trigger"
- name: script
  path: daml-helper/daml-helper
  args: ["run-jar", "--logback-config=daml-sdk/script-logback.xml", "daml-sdk/daml-sdk.jar", "script"]
  desc: "Run a Daml script"
- name: repl
  path: damlc/damlc
  args: ["repl"]
  desc: "Launch the Daml REPL"
- name: canton-console
  path: daml-helper/daml-helper
  desc: "Launch the Canton Sandbox Console"
  args: ["canton-console"]
