<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="MEM" class="com.digitalasset.platform.testing.LogCollector">
        <test>com.daml.ledger.api.server.damlonx.reference.v2.IndexerIT</test>
    </appender>

    <logger name="com.digitalasset.platform.indexer.RecoveringIndexer" level="INFO">
        <appender-ref ref="MEM" />
    </logger>

</configuration>
