<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>
    <logger name="daml.tracelog" level="DEBUG" />
    <logger name="daml.warnings" level="WARN" />
    <logger name="com.daml.auth" level="WARN" />
</configuration>
