<!-- Set logLevel for sample-service testing to Info to remove OUTBOUND/INBOUND debug statements -->
<configuration>
    <logger name="io.grpc.netty.shaded.io.grpc.netty" level="INFO" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
