sdk-version: __VERSION__
name: quickstart
source: daml
init-script: Setup:initialize
parties:
  - Alice
  - Bob
  - USD_Bank
  - EUR_Bank
version: 0.0.1
dependencies:
  - daml-prim
  - daml-stdlib
  - daml-script
sandbox-options:
  - --wall-clock-time
codegen:
  java:
    package-prefix: com.daml.quickstart.model
    output-directory: target/generated-sources/iou
    decoderClass: com.daml.quickstart.iou.TemplateDecoder
