sdk-version: __VERSION__
name: copy-trigger
source: src
parties:
  - Alice
  - Bob
version: 0.0.1
# trigger-dependencies-begin
dependencies:
  - daml-prim
  - daml-stdlib
  - daml-trigger
# trigger-dependencies-end
sandbox-options:
  - --wall-clock-time
